
*{
	line-height: 1;
}
p {
  font-size: 20px;
  font-family: Helvetica;
}
.oneLine {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 10px;
    margin-bottom: 40px;
}

.left {
  width: 25%;
  background-color: rgb(231, 234, 240);
  margin-left: -20px;
  padding-left: 40px;
  padding-right: 40px;
}

.right {
  width: 75%;
  background-color: white;

}
.minih1 {
	font-size: 30px;
}

.minih2 {
	font-size: 20px;
}
.underline {
	margin-bottom: 5px;
	margin-top: -27px;
	height: 3px;
	background-color: rgb(77, 137, 255);

}
.Education {
	font-size: 18px;
}
.Title {
	font-size: 18px;
	font-style: italic;
}

.alignright {
	float: right;
}
.bolded {
	font-weight: bold;
}
.unbolded {
	font-weight: normal;
}
.bullets {
	list-style-type: square;
}
h1 {
  font-size: 40px;
  font-family: Oxygen;
  /*line-height: 1;*/
}
h2 {
	font-size: 25px;
	font-family: Oxygen;
	font-weight: normal;
	/*line-height: 1;*/
}
h3 {
	color: rgb(77, 137, 255);
	font-size: 25px;
	/*line-height: 1;*/
}
h4{
	font-size: 20px;
	/*line-height: 1;*/
	font-weight: normal;
}
h5{
	font-size: 16px;
	font-weight: normal;
	/*line-height: 1;*/
}
ul{
	list-style-type: none;
	margin-top: -15px;
	margin-left: -30px;
	/*line-height: 1;*/
}
